altgraph==0.17.2
bcrypt==3.2.2
beautifulsoup4==4.11.1
burp==1.27
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==37.0.2
future==0.18.2
github3.py==3.2.0
idna==3.3
lxml==4.8.0
numpy==1.22.4
opencv-python==4.5.5.64
paramiko==2.11.0
pefile==2021.9.3
pycparser==2.21
pycryptodomex==3.14.1
pyinstaller==5.1
pyinstaller-hooks-contrib==2022.6
PyJWT==2.4.0
PyNaCl==1.5.0
pypiwin32==223
python-dateutil==2.8.2
pywin32==304
pywin32-ctypes==0.2.0
pyWinhook==1.6.2
requests==2.27.1
scapy==2.4.5
six==1.16.0
soupsieve==2.3.2.post1
uritemplate==4.1.1
urllib3==1.26.9
WMI==1.5.1
